.react-datepicker__wrapper {
  position: relative;
  background: #fff;
  font-size: 14px;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
}
.react-datepicker__trigger-button {
  position: absolute;
  inset: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.react-datepicker__input-unit {
  position: relative;
}
.react-datepicker__clear {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 34px;
  height: 34px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0zLDMgTDIxLDIxIE0zLDIxIEwyMSwzIj48L3BhdGg+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}
.react-datepicker__clear:hover {
  background-color: #f7f7f7;
}

/* portal */
.react-datepicker__portal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.react-datepicker__portal .react-datepicker__layer {
  position: relative;
  inset: auto;
}

/* layer */
.react-datepicker__layer {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* datepicker */
.react-datepicker__datepicker-container {
  /* flex-grow: 1; */
}
.react-datepicker__controller {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.react-datepicker__controller-label {
  height: 36px;
  flex-grow: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.react-datepicker__controller-label:not(:disabled):hover {
  background-color: #f7f7f7;
}
.react-datepicker__controller-label:disabled {
  cursor: default;
}
.react-datepicker__controller-arrow {
  width: 36px;
  height: 36px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.react-datepicker__controller-arrow:hover {
  background-color: #f7f7f7;
}
.react-datepicker__controller-extra-prev {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiI+PC9wYXRoPjxwYXRoIGQ9Ik0xNy41OSAxOEwxOSAxNi41OSAxNC40MiAxMiAxOSA3LjQxIDE3LjU5IDZsLTYgNnoiPjwvcGF0aD48cGF0aCBkPSJNMTEgMThsMS40MS0xLjQxTDcuODMgMTJsNC41OC00LjU5TDExIDZsLTYgNnoiPjwvcGF0aD48L3N2Zz4=');
}
.react-datepicker__controller-extra-next {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiI+PC9wYXRoPjxwYXRoIGQ9Ik02LjQxIDZMNSA3LjQxIDkuNTggMTIgNSAxNi41OSA2LjQxIDE4bDYtNnoiPjwvcGF0aD48cGF0aCBkPSJNMTMgNmwtMS40MSAxLjQxTDE2LjE3IDEybC00LjU4IDQuNTlMMTMgMThsNi02eiI+PC9wYXRoPjwvc3ZnPg==');
}
.react-datepicker__controller-prev {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ij48L3BhdGg+PHBhdGggZD0iTTE1LjQxIDE2LjU5TDEwLjgzIDEybDQuNTgtNC41OUwxNCA2bC02IDYgNiA2IDEuNDEtMS40MXoiPjwvcGF0aD48L3N2Zz4=');
}
.react-datepicker__controller-next {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ij48L3BhdGg+PHBhdGggZD0iTTguNTkgMTYuNTlMMTMuMTcgMTIgOC41OSA3LjQxIDEwIDZsNiA2LTYgNi0xLjQxLTEuNDF6Ij48L3BhdGg+PC9zdmc+');
}
.react-datepicker__datepicker {
  display: flex;
  align-items: flex-start;
}
.react-datepicker__century-view,
.react-datepicker__decade-view,
.react-datepicker__year-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 252px;
}
.react-datepicker__month-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 252px;
}
.react-datepicker__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  height: 36px;
  color: #000;
}
.react-datepicker__datepicker-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  flex-basis: 100%;
  height: 36px;
  cursor: pointer;
  color: #000;
}
.react-datepicker__neighbor-button {
  color: #bbb;
}
.react-datepicker__datepicker-button:hover {
  background-color: #f7f7f7;
}
.react-datepicker__datepicker-button[data-active='true'] {
  background-color: #333;
  color: #fff;
}
.react-datepicker__datepicker-button[data-hover-active='true'] {
  background-color: #eee;
}
.react-datepicker__datepicker-button[data-range-active='true'] {
  background-color: #eee;
}
.react-datepicker__datepicker-button[data-start-active='true'] {
  background-color: #333;
  color: #fff;
  border-radius: 6px 0 0 6px;
}
.react-datepicker__datepicker-button[data-end-active='true'] {
  background-color: #333;
  color: #fff;
  border-radius: 0 6px 6px 0;
}

/* timeselector */
.react-datepicker__timeselector-container {
  display: flex;
  flex-flow: column;
  position: relative;
  border-left: 1px solid #ddd;
}
.react-datepicker__timeselector-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
}
.react-datepicker__timeselector-selector {
  overflow: hidden;
  display: flex;
}
.react-datepicker__timeselector-list {
  overflow-y: auto;
  width: 40px;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  scrollbar-width: thin;
}
/* .react-datepicker__timeselector-selector
  .react-datepicker__timeselector-list::-webkit-scrollbar {
  scrollbar-width: thin;
} */
.react-datepicker__timeselector-list-item {
  display: block;
}
.react-datepicker__timeselector-list-button {
  display: block;
  width: 100%;
  height: 36px;
  background: none;
  border: none;
  border-radius: none;
  cursor: pointer;
}
.react-datepicker__timeselector-list-button:hover {
  background-color: #f7f7f7;
}
.react-datepicker__timeselector-list-button[data-active='true'] {
  background-color: #333;
  color: #fff;
}
